venv/
.idea/
__pycache__/
build/
dist/
ScoutCardMaker/scout_card_maker_scoutcardmaker.egg-info/

parsetab.py
parser.out
*.json

ScoutCardMaker/scout_card_maker.egg-info/
ScoutCardMaker/SCM3Offense.bat
ScoutCardMaker/SCM3CompositeViewer.bat
ScoutCardMaker/SCM3Exporter.bat
ScoutCardMaker/SCM3Defense.bat
ScoutCardMaker/last_directory_locations.txt
